.App {
  background-color: black;
  min-height: 100vh;
}

.button{
  color: black;
  border-radius: 5px;
  background-image: linear-gradient( #ffffff, #9b9b9b);
  border: 0;
}
.button:hover{
  background-image: linear-gradient( #FFFFFF, #FFFFFF);
}
.button:active{
  background-image: linear-gradient( #1100ff, #1b0092);
}
.button-active{
  color: red
}

.new-game {
  color: white;
  position: absolute;
  top: 45%;
  left: 45%;
}

.bug-list {
  color: gray;
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 0.7vw;
}

.version-info {
  color: gray;
  position: absolute;
  left: 2%;
  bottom: 5%;
  font-size: 0.7vw;
}

.round-gradient {
  background-image: linear-gradient( #282c34, #1d1d1d); 
  border-radius: 0.4vw;
  opacity: 0.9;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: margin 0.5s;
  margin: 0 0 0 0;
}

.wrapper.is-nav-open {
  margin-left: 0;
}


.menu-hidden {
  height: 2.0vw;
  width: 2.5vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #282c34;
  border-bottom-left-radius: 0.2vw;
  padding: 0.3vw;
}
.menu-hidden-bar {
  height: 0.35vw;
  width: 100%;
  background-color: #5a5b5c;
  margin: 0.2vw 0;
}
.menu-hidden:hover {
  filter: brightness(1.5);
}
.menu-shown {
  position: absolute;
  height: 30vw;
  width: 15vw;
  top: 0;
  right: 0;
  transition: right 0.5s;
  background-color: #65ff63;
  border-bottom-left-radius: 0.2vw;
}

.menu-hide {
  height: 1.5vw;
  width: 1.5vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #5a5b5c;
}
.menu-hide:hover {
  filter: brightness(1.5)
}
.arrow-up {
  width: 0; 
  height: 0;
  position: relative;
  left: 30%;
  top: 40%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-bottom: 6px solid black;
} 

.game-log {
  text-align: left;
  padding-left: 15px;
  overflow-y: scroll;
  border-radius: 0.4vw;
  background-image: linear-gradient( #282c34, #1d1d1d);
  opacity: 0.9;
  position: absolute;
  height: 15vw;
  width: 15vw;
  top: 6.8%;
  right: 1%;
  font-size: 0.8vw;
}

.action-box {
  text-align: left;
  position: absolute;
  color: #505050;
  height: 3vw;
  width: 17vw;
  top: 5px;
  left: 700px;
  font-size: 10px;
}

.MONSTER {
 color: red
}

.SURVIVOR {
 color: #65ff63;
}

.GAME_INFO {
 color: #7ea9ff
}

.aiCard {
  color: black;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 7px;
  background-color: #adadad;
  position: absolute;
  height: 21vw;
  width: 15vw;
  top: 3vw;
  right: 3vw;
  font-size: 12px;
}

.border-box {
  box-sizing: border-box;
}

.all-hl-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  position: absolute;
  left: 0;
  top: 0;
}

.hl-selecter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  color: white;
  position: absolute;
  border-radius: 10px;
  
  height: 20vw;
  width: 30vw;
  left: 20%;
  top: 35%;
  padding: 1vw;
  
  background: black;
}

/*
Height: 3.5   1.75   1.4   0.7
Width:  2.5   1.25   1.0   0.5
        => 
*/
.hlCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  border-radius: 5px;
  background-image: linear-gradient(to right,#eed7b8, #fcebd5, #eed7b8);
  height: 14vw;
  width: 10vw;
  font-size: 0.8vw;
  text-align: center;
  color: black;
  /*box-sizing: border-box;*/
  margin: 0.5vw;
  
}

.hlCard:hover {
  filter: brightness(1.1);
}

.hlCard-top{
  background-color: #a82929;
  color: white;
  height: 20%;
  width: 100%;
  padding-top: 3%;
  border-radius: 5px 5px 0 0;
}
.hlCard-top-trap{
  background-color: #1d1d1d;
}
.hlCard-impervious{
  background-image: linear-gradient(#64d2fd, #4583b6);
  height: 7%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 0.6vw;
}
.hlCard-description{
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 8%;
  
  text-align: left;
  font-size: 0.5vw;
  
}
.hlCard-diamond {
  background: black;
  color: white;
  transform: rotate(45deg);
}
.hlCard-diamond-lantern {
  width: 1.0vw;
  height: 1.0vw;
  margin-top: 1.5vw;
}
.hlCard-diamond-reflex {
  width: 0.7vw;
  height: 0.7vw;
}
.ghost {
  height: 100%;
  width: 100%;
  transform: rotate(-45deg);
}
.hlCard-diamond-reflex-char {
  color: white;
  transform: rotate(0deg);
  font-size: 0.5vw;
}
.hlCard-reflex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hlCard-reflex-title {
  font-size: 1.0vw;
  padding-right: 3vw;
  margin: 0.5vw;
}

.hlCard-lantern-image {
  background: black;
  width: 0.40vw;
  height: 0.90vw;
  position: relative;
  vertical-align: middle;
}
.hlCard-critical{
  font-size: 0.5vw;
  padding-top: 0.7vw;
  padding-bottom: 0.3vw;
}
.hlCard-critical-description{
  font-size: 0.5vw;
  padding-left: 8%;
  padding-right: 8%;
  text-align: left;
}
.hlCard-persistant{
  align-self: flex-end;
  background-image: linear-gradient(#969696, #505050);
  color: white;
  height: 10%;
  width: 100%;
  padding-top: 2%;
  border-radius: 0 0 5px 5px;
  font-size: 0.5vw;
  margin-top: auto;
}
.hlCard-persistant-title{
  font-size: 0.5vw;
  font-weight: bold;
  letter-spacing: -0.02rem;
}
.aiCard-target {
  border-radius: 7px;
  padding-left: 10px;
  background-image: linear-gradient(#adadad, #bebdbd);
}

.aiCard-round {
  border-radius: 10px;
  background-color: #adadad;
  width: 20px;
  height: 20px;
  margin: auto;
  text-align: center;
  position: relative;
  top: -124px;
  color: white;
}

.aiCard-attack {
  border-radius: 7px;
  height: 100px;
  background-image: linear-gradient( #bebdbd, #adadad);
  padding-top: 10px;
}

.aiCard-target-list {
  font-size: 10px;
  padding-bottom: 10px;
  list-style: circle;
  padding-left: 10px;
}

.aiCard-table {
  background-color: #7e7e7e;
  border-radius: 7px;
  position: relative;
  left: 7%;
  right: 7%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  background-image: linear-gradient(#bebdbd, #a1a1a1);
}

.aiCard-trigger-left {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  width: 10px;
  background-color: #e4e4e4;
  font-size: 12px;
  position: relative;
  left: 10px;
  padding: 5px;
  height: 15px;
}
.aiCard-trigger-right {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #a1a1a1;
  font-size: 8px;
  position: relative;
  left: 32px;
  top: -26px;
  width: 120px;
  padding: 4px;
}

.aiCard-table-trigger {
  background-color: #e4e4e4;
  border-radius: 7px;
  position: relative;
  left: 7%;
  right: 7%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  
}

.aiCard-table-header {
  font-size: 6px;
}
.aiCard-table-body {
  font-size: 15px;
}
.aiCard-table-trigger-header {
  width: 70px;
}
.aiCard-table-trigger-body {
  font-size: 8px;
  font-weight: bold;
}

.card-title {
  text-align: center;
  font-size: 15px;
}

.turn-changer {
  text-align: left;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #282c34;
  position: absolute;
  height: 40px;
  width: 300px;
  top: 5px; 
  left: 375px;
  color: #505050;
  font-size: 10px;
}

.gear-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

  position: absolute;
  height: 30vw;
  width: 40vw;
  left: 50%;
  top: 10%;
  background-color: black;
}

.gear-grid-left {
  flex-basis: 30%;
  background-color: #adadad;
}

.gear-grid-right {
  flex-basis: 70%;
  padding: 2%;
  background-color: #25488d;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gear-card {
  width: 8vw;
  height: 8vw;
  color: black;
  background-color: white;
  border-radius: 0.8vw;
  font-size: 0.8vw;
  margin: 0.25vw;
  padding: 0.5vw;
}

.gear-card-armour {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  width: 15px;
  color: white;
  text-align: center;
}

.gear-card-title {
  padding-top: 3px;
  text-align: center;
}

.gear-card-description {
  font-size: 6px;
}

.gear-card-button {
  font-size: 8px;
}

.isometric-rotation {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.gameboard-normal{
}
.gameboard-iso{
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  position: absolute;
  left: -3%;
  top: 55%;
}
.gameboard-tile:hover {
  filter: brightness(1.9);
}
.gameboard-tile-selected {
  filter: brightness(1.7);
}
.gameboard-tile-monster-range {
  filter: sepia(0.3) hue-rotate(320deg);;
}

.info-box {
  text-align: left;
  font-size: 8px;
  color: rgb(133, 133, 133);
  list-style: circle;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}
.info-box-list {
  text-align: left;
  list-style: none;
  margin: 5px;
  padding: 0;
}

.lantern-corner {
  position: absolute;
  width: 17px;
  height: 35px;
  right: 5px;
  top: 5px;
  opacity: 0.5;
}

.monster-tile:hover {
  filter: brightness(1.3);
}
.survivor-tile:hover {
  filter: brightness(1.3);
}
.survivor-tile-knocked-down {
  filter: saturate(50%);
}
.survivor-tile-knocked-down:hover {
  filter: saturate(50%) brightness(1.3);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  color: white;
  position: absolute;
  border-radius: 10px;
  padding-left: 20px;
  left: 35%;
  right: 45%;
  top: 35%;
  bottom: 30%;
  margin: auto;
  background: black;
  opacity: 0.8;
  font-size: 14px;
}